#modal.modal.hide.fade
  .modal-header
    %button.close{:type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
      ×
    %h3
      Header
  .modal-body
    %p
      Body body body
  .modal-footer
    %p{:style => "float: left"}
      A
    %button.btn{"data-dismiss" => "modal", "aria-hidden" => "true"}
      Close

#holder
  adasdasd
       
